* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  margin: 0 auto; }

.container {
  width: 1040px;
  height: auto;
  margin: 0 auto; }

#header {
  width: 100%; }
  #header .genk_top_header {
    background: #2e2e2e;
    height: 25px; }
    #header .genk_top_header .menu_channel {
      position: relative; }
      #header .genk_top_header .menu_channel ul {
        list-style-type: none; }
        #header .genk_top_header .menu_channel ul li {
          float: left;
          margin-right: 22px; }
          #header .genk_top_header .menu_channel ul li a {
            font-family: Roboto-Medium;
            font-size: 12px;
            line-height: 25px;
            display: block;
            color: #aaa;
            text-decoration: none;
            text-transform: uppercase; }
      #header .genk_top_header .menu_channel .test_new_version {
        float: right;
        color: #fff;
        font-size: 12px;
        margin-top: 7px;
        font-family: Roboto-Regular; }
        #header .genk_top_header .menu_channel .test_new_version a {
          text-decoration: none;
          color: #fff; }
        #header .genk_top_header .menu_channel .test_new_version i {
          width: 29px;
          height: 15px;
          float: right;
          margin-left: 10px;
          margin-top: -2px;
          display: inline-block;
          background: url(../images/trangthaithunghiemoff.jpg) no-repeat;
          cursor: pointer; }
  #header .genk_bottom_header {
    background: #222;
    height: 45px;
    position: relative;
    z-index: 999; }
    #header .genk_bottom_header .menu {
      position: absolute;
      background: #222;
      width: 100%;
      height: 45px; }
      #header .genk_bottom_header .menu .menu_div {
        position: relative; }
        #header .genk_bottom_header .menu .menu_div .genk_logo {
          width: 140px;
          height: 20px;
          display: block;
          position: absolute;
          top: 14px;
          left: 0; }
          #header .genk_bottom_header .menu .menu_div .genk_logo img {
            width: 100%; }
        #header .genk_bottom_header .menu .menu_div .menu_list {
          list-style-type: none;
          float: left;
          margin-left: 160px; }
          #header .genk_bottom_header .menu .menu_div .menu_list li {
            float: left;
            margin-left: 20px;
            height: 45px; }
            #header .genk_bottom_header .menu .menu_div .menu_list li a {
              font-family: Roboto-Medium;
              font-size: 15px;
              color: #fff;
              text-decoration: none;
              text-transform: uppercase;
              line-height: 48px;
              height: 45px;
              display: block; }
            #header .genk_bottom_header .menu .menu_div .menu_list li a:hover {
              color: #ed2e2e; }
            #header .genk_bottom_header .menu .menu_div .menu_list li .menu_icon {
              width: 30px;
              height: 45px;
              display: block;
              position: relative;
              padding: 10px 5px;
              font-size: 25px; }
          #header .genk_bottom_header .menu .menu_div .menu_list .expand_icon {
            margin-left: 25px; }
        #header .genk_bottom_header .menu .menu_div .linkvideo {
          font-family: Roboto-Medium;
          font-size: 16px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          line-height: 48px;
          height: 45px;
          display: block;
          margin-right: 25px;
          position: absolute;
          right: 30px;
          float: right; }
        #header .genk_bottom_header .menu .menu_div .search_icon {
          width: 25px;
          height: 25px;
          position: absolute;
          margin-top: 10px;
          right: 5px;
          float: right; }
        #header .genk_bottom_header .menu .menu_div .searchbox {
          float: left;
          width: 258px;
          height: 24px;
          position: absolute;
          top: 10px;
          right: 50px;
          padding-left: 5px;
          overflow: hidden;
          border: 1px solid #a9a9a9;
          display: none; }
    #header .genk_bottom_header .menu_expand {
      position: absolute;
      width: 100%;
      top: 45px;
      left: 0;
      background: #f1f1f1;
      z-index: 9999;
      display: none; }
      #header .genk_bottom_header .menu_expand .menu_clear {
        width: 100%;
        background: #f1f1f1;
        position: relative;
        box-shadow: 0 11px 84px 0 rgba(0, 0, 0, 0.35);
        padding-top: 35px;
        padding-bottom: 25px;
        display: inline-block; }
        #header .genk_bottom_header .menu_expand .menu_clear ul {
          list-style-type: none; }
        #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list {
          position: relative;
          display: inline-block; }
          #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item:first-of-type {
            margin-left: 15px; }
          #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item {
            width: 150px;
            margin-left: 20px;
            color: #000;
            float: left; }
            #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item .submenu_expand_item.cate {
              border-bottom: 1px solid #acacac;
              margin-bottom: 24px;
              position: relative; }
              #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item .submenu_expand_item.cate a {
                padding-bottom: 10px;
                font-size: 13.5px;
                font-family: Roboto-Bold;
                color: #333;
                text-transform: uppercase; }
              #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item .submenu_expand_item.cate a:hover {
                color: #ed2e2e; }
              #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item .submenu_expand_item.cate .emagazine::before {
                content: "";
                background: url(http://genknews.genkcdn.vn/web_images/icon_star1.png) no-repeat;
                width: 15px;
                height: 14px;
                display: inline-block;
                background-size: 15px;
                margin-right: 5px; }
            #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item .submenu_expand_item.cate::before {
              position: absolute;
              right: 0;
              top: 0;
              background: url(../images/sprite-genk_v11.png) -75px -39px no-repeat;
              content: '';
              width: 8px;
              height: 13px; }
            #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item .submenu_expand_item a {
              font-family: Roboto-Medium;
              font-size: 15px;
              color: #555;
              padding-bottom: 15px;
              display: block;
              text-decoration: none; }
            #header .genk_bottom_header .menu_expand .menu_clear .menu_expand_list .menu_expand_item .submenu_expand_item a:hover {
              color: #ed2e2e; }
  #header .ads_header {
    background: #f1f1f1;
    padding: 20px 0;
    width: 100%;
    display: block;
    text-align: center; }

#body {
  width: 100%;
  background: #f1f1f1; }
  #body .categories_content {
    width: 100%;
    display: flex;
    padding-top: 25px; }
    #body .categories_content .main_content {
      float: left;
      width: 710px;
      height: auto; }
      #body .categories_content .main_content .main_content_1 {
        margin-top: 20px;
        display: flow-root; }
        #body .categories_content .main_content .main_content_1 .main_content_1_submenu {
          background: #222;
          width: 100%;
          height: auto;
          padding-left: 20px;
          margin-bottom: 18px;
          display: inline-block; }
          #body .categories_content .main_content .main_content_1 .main_content_1_submenu ul {
            list-style: none; }
            #body .categories_content .main_content .main_content_1 .main_content_1_submenu ul li {
              float: left;
              margin-right: 35px;
              position: relative; }
              #body .categories_content .main_content .main_content_1 .main_content_1_submenu ul li a.active {
                color: #fff;
                border-bottom: 4px solid #ed2e2e; }
              #body .categories_content .main_content .main_content_1 .main_content_1_submenu ul li a, #body .categories_content .main_content .main_content_1 .main_content_1_submenu ul li span {
                font-family: Roboto-Bold;
                font-size: 16px;
                line-height: 40px;
                text-transform: uppercase;
                text-decoration: none;
                color: #999;
                padding-bottom: 7px; }
              #body .categories_content .main_content .main_content_1 .main_content_1_submenu ul li a:hover {
                color: #fff;
                border-bottom: 4px solid #ed2e2e;
                padding-bottom: 7px; }
            #body .categories_content .main_content .main_content_1 .main_content_1_submenu ul li:first-child a {
              font-size: 17px;
              padding-bottom: 6px; }
        #body .categories_content .main_content .main_content_1 .main_content_1_big {
          float: left;
          width: 470px; }
          #body .categories_content .main_content .main_content_1 .main_content_1_big div {
            padding-bottom: 20px;
            display: block; }
            #body .categories_content .main_content .main_content_1 .main_content_1_big div a {
              position: relative;
              display: block; }
              #body .categories_content .main_content .main_content_1 .main_content_1_big div a img {
                width: 470px;
                height: 289px;
                vertical-align: middle; }
            #body .categories_content .main_content .main_content_1 .main_content_1_big div h2 a {
              margin-top: 12px;
              display: block;
              font-family: Roboto-Bold;
              font-size: 26px;
              line-height: 30px;
              color: #222;
              text-decoration: none;
              transition: color .3s;
              -webkit-transition: color .3s;
              -moz-transition: color .3s; }
            #body .categories_content .main_content .main_content_1 .main_content_1_big div h2 :hover {
              color: #374370; }
            #body .categories_content .main_content .main_content_1 .main_content_1_big div p {
              font-family: Arial;
              font-size: 14px;
              line-height: 20px;
              color: #444;
              margin: 10px 0; }
        #body .categories_content .main_content .main_content_1 .main_content_1_small {
          float: right;
          width: 220px; }
          #body .categories_content .main_content .main_content_1 .main_content_1_small div {
            padding-bottom: 20px;
            display: block; }
            #body .categories_content .main_content .main_content_1 .main_content_1_small div a {
              display: block;
              overflow: hidden; }
              #body .categories_content .main_content .main_content_1 .main_content_1_small div a img {
                width: 100%; }
            #body .categories_content .main_content .main_content_1 .main_content_1_small div h2 a {
              display: block;
              padding: 12px 15px 20px;
              background-image: linear-gradient(#ebebeb, #fff);
              font-family: Roboto-Bold;
              font-size: 19px;
              line-height: 22px;
              color: #222;
              text-decoration: none;
              transition: color .3s;
              -webkit-transition: color .3s;
              -moz-transition: color .3s; }
            #body .categories_content .main_content .main_content_1 .main_content_1_small div span {
              font-size: 14px;
              line-height: 19px;
              font-family: Arial;
              color: #555;
              margin: 8px 0 13px;
              display: block; }
      #body .categories_content .main_content .main_content_3 ul {
        list-style-type: none; }
        #body .categories_content .main_content .main_content_3 ul li.content_3_item {
          padding: 25px 0;
          border-bottom: 1px solid #ebebeb;
          display: inline-block; }
          #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_image {
            position: relative;
            width: 250px;
            float: left; }
            #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_image a {
              width: 250px;
              height: auto;
              display: block;
              margin-right: 20px;
              overflow: hidden;
              position: relative; }
              #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_image a img {
                border: 1px solid rgba(0, 0, 0, 0.05); }
          #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_info {
            margin-left: 270px; }
            #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_info .item_title a {
              font-family: Roboto-Bold;
              font-size: 22px;
              line-height: 28px;
              color: #333;
              text-decoration: none;
              display: block;
              margin-bottom: 10px;
              margin-top: -5px;
              transition: all .3s;
              -webkit-transition: all .3s;
              -webkit-line-clamp: 3;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis; }
            #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_info .item_title :hover {
              color: #374370; }
            #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_info .item_meta {
              margin-bottom: 10px;
              color: #8e8e8e; }
              #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_info .item_meta a {
                font-family: Roboto-SemiBold;
                font-size: 14px;
                color: #393c54;
                text-decoration: none; }
              #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_info .item_meta span {
                position: relative;
                font-family: Roboto-Medium;
                font-size: 14px;
                color: #8e8e8e; }
            #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_info .item_sapo {
              font-size: 13px;
              font-family: Arial;
              color: #555;
              line-height: 19px;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis; }
            #body .categories_content .main_content .main_content_3 ul li.content_3_item .item_info .item_relate_wrap {
              padding-left: 15px;
              display: block;
              padding-top: 5px; }
      #body .categories_content .main_content .main_content_3 .wrapperbtn {
        height: 50px;
        text-align: center;
        padding-top: 30px;
        margin-bottom: 65px; }
        #body .categories_content .main_content .main_content_3 .wrapperbtn a {
          width: 140px;
          height: 45px;
          background: #ed2e2e;
          font-family: Arial;
          font-weight: bold;
          font-size: 20px;
          line-height: 45px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
          border-radius: 25px;
          text-align: center; }
        #body .categories_content .main_content .main_content_3 .wrapperbtn :hover {
          background: #222; }
    #body .categories_content .ads {
      float: right;
      width: 300px;
      height: auto;
      margin-top: 13px; }
      #body .categories_content .ads .ads_1, #body .categories_content .ads .ads_2, #body .categories_content .ads .ads_3 {
        width: 100%;
        padding-bottom: 10px; }
        #body .categories_content .ads .ads_1 .ads_1_banner, #body .categories_content .ads .ads_1 .ads_2_banner, #body .categories_content .ads .ads_1 .ads_2_banner, #body .categories_content .ads .ads_2 .ads_1_banner, #body .categories_content .ads .ads_2 .ads_2_banner, #body .categories_content .ads .ads_2 .ads_2_banner, #body .categories_content .ads .ads_3 .ads_1_banner, #body .categories_content .ads .ads_3 .ads_2_banner, #body .categories_content .ads .ads_3 .ads_2_banner {
          width: 100%; }

#footer {
  width: 100%;
  background: #191919; }
  #footer .top_footer {
    border-bottom: 1px solid #ed2e2e; }
    #footer .top_footer .gfw_top_wrapper {
      padding: 25px 0;
      border-bottom: 1px solid #333;
      display: flex; }
      #footer .top_footer .gfw_top_wrapper a {
        background-position: 0 0;
        width: 164px;
        height: 23px;
        display: block;
        float: left;
        background-size: 210%;
        margin-top: 10px; }
        #footer .top_footer .gfw_top_wrapper a img {
          width: 100%; }
    #footer .top_footer .gfw_bottom_wrapper {
      display: flex; }
      #footer .top_footer .gfw_bottom_wrapper ul {
        list-style-type: none; }
        #footer .top_footer .gfw_bottom_wrapper ul li {
          float: left;
          margin-right: 40px; }
          #footer .top_footer .gfw_bottom_wrapper ul li a {
            color: #fff;
            font-size: 13px;
            line-height: 18px;
            font-family: Roboto-Medium;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 60px; }
          #footer .top_footer .gfw_bottom_wrapper ul li a:hover {
            color: #ED2E2E; }
  #footer .bottom_footer {
    padding: 35px 0; }
    #footer .bottom_footer .gfwbf_left {
      width: 515px;
      float: left;
      margin-right: 80px; }
    #footer .bottom_footer .gfwbf_right {
      width: 375px;
      margin-left: 595px; }
      #footer .bottom_footer .gfwbf_right img {
        margin-bottom: 10px; }
      #footer .bottom_footer .gfwbf_right h4 {
        font-family: Roboto-Medium;
        font-size: 24px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 12px; }
      #footer .bottom_footer .gfwbf_right span {
        background-position: -92px -122px;
        width: 65px;
        height: 15px;
        display: block;
        margin-bottom: 10px; }
    #footer .bottom_footer p {
      font-family: Arial;
      font-size: 12px;
      line-height: 18px;
      color: #999;
      margin-bottom: 20px; }
      #footer .bottom_footer p a {
        text-decoration: none;
        color: #ed2e2e; }

#scroller #back-top {
  position: fixed;
  top: 50%;
  right: 10px; }
  #scroller #back-top a {
    width: 46px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; }
    #scroller #back-top a span {
      width: 46px;
      height: 46px;
      display: block;
      margin-bottom: 7px;
      background: #ddd url(../images/toTop.png) no-repeat center center;
      /* rounded corners */
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      /* transition */
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s; }
  #scroller #back-top a:hover {
    color: #000; }
    #scroller #back-top a:hover span {
      background-color: #777; }

/*# sourceMappingURL=style_categories.css.map */
