#body {
	width: 100%;
	background: #f1f1f1;
	.categories_content {
		width: 100%;
		display: flex;
		padding: 25px 0 50px 0;
		.main_content {
			float: left;
			width: 710px;
			height: auto;
			.main_content_1 {
				display: flow-root;
                .tagsLabelTitle {
                    padding-bottom: 10px;
                    //padding-top: 30px;
                    span.active {
                        width: 45px;
                        height: 45px;
                        color: #fff;
                        background: #45BD33;
                        border-radius: 100%;
                        -webkit-border-radius: 100%;
                        -moz-border-radius: 100%;
                        font: bold 32px/45px Roboto-Bold;
                        text-align: center;
                        float: left;
                        margin-right: 10px;
                    }
                    h1 {
                        font: bold 30px/45px Roboto-Bold;
                        text-transform: uppercase;
                        color: #222;
                    }
                }
				.main_content_1_submenu {
					background: #222;
					width: 100%;
					height: auto;
					padding-left: 20px;
					margin-bottom: 18px;
					display: inline-block;
					ul {
						list-style: none;
						li {
							float: left;
							margin-right: 35px;
							position: relative;
							a.active {
								color: #fff;
								border-bottom: 4px solid #45BD33;
							}
							a, span {
								font-family: Roboto-Bold;
								font-size: 16px;
								line-height: 40px;
								text-transform: uppercase;
								text-decoration: none;
								color: #999;
								padding-bottom: 7px;
							}
								a:hover {
									color: #fff;
									border-bottom: 4px solid #45BD33;
									padding-bottom: 7px;
								}
						}
						li:first-child a {
							font-size: 17px;
							padding-bottom: 6px;
						}
					}
				}
			}
            h1 {font-family: Roboto-Bold;}
			.main_content_3 {
				ul {
					list-style-type: none;
					li.content_3_item {
						padding: 25px 0;
    					border-bottom: 1px solid #ebebeb;
    					display: inline-block;
    					.item_image {
    					    position: relative;
    					    width: 250px;
    					    float: left;
    					    a {
								width: 250px;
								height: auto;
								display: block;
								margin-right: 20px;
								overflow: hidden;
								position: relative;
								img {border: 1px solid rgba(0,0,0,0.05);}
    					    }
    					}
    					.item_info {
    						margin-left: 270px;
    						.item_title {
    							a {
									font-family: Roboto-Bold;
									font-size: 22px;
									line-height: 28px;
									color: #333;
									text-decoration: none;
									display: block;
									margin-bottom: 10px;
									margin-top: -5px;
									transition: all .3s;
									-webkit-transition: all .3s;

									-webkit-line-clamp: 3;
									display: -webkit-box;
									-webkit-box-orient: vertical;
									overflow: hidden;
									text-overflow: ellipsis;
    							}
    							:hover {color: #374370;}
    						}
							.item_meta {
								margin-bottom: 10px;
								color: #8e8e8e;
								a {
									font-family: Roboto-SemiBold;
									font-size: 14px;
									color: #393c54;
									text-decoration: none;
								}
								span {
									position: relative;
									font-family: Roboto-Medium;
									font-size: 14px;
									color: #8e8e8e;
								}
							}
							.item_sapo {
								font-size: 13px;
								font-family: Arial;
								color: #555;
								line-height: 19px;

								-webkit-line-clamp: 2;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
							}
							.item_relate_wrap {
								padding-left: 15px;
								display: block;
								padding-top: 5px;
							}
    					}
					}
				}
			}
            nav {
                display: inline-block;
                .pagination {
                    list-style: none;
                    margin-bottom: 30px;
                    .active {
                        .page-link {color: #45BD33!important;}
                    }
                    .page-item {
                        float: left;
                        margin-right: 20px;
                        .page-link {
                            font-family: Arial;
                            font-weight: normal;
                            text-decoration: none;
                            text-align: center;
                            font-size: 18px;
                            line-height: 45px;
                            color: black;
                        }
                        :hover {color: #45BD33}
                    }
                }
            }
		}
		.ads {
			float: right;
			width: 300px;
			height: auto;
			.ads_1,.ads_2,.ads_3 {
				width: 100%;
				padding-bottom: 10px;
				.ads_1_banner,.ads_2_banner,.ads_2_banner {width: 100%;}
			}
		}
	}
}
