@media (max-width: 767px) {
	#body {
		.news_content {
			.main_content {
				width: 100% !important;
				.main_content_1,.main_content_2,.main_content_3 {
					width: 100% !important;
				}
				.main_content_1 {
					.main_content_1_big {
						width: 100% !important;
						div {a {
								img {
									width: 100% !important;
									height: auto;
								}}
						}
					}
					.main_content_1_small {
						width: 100% !important;
					}
				}
				.main_content_2 {
					div {ul {li {
						width: 100% !important;
						margin-right: 0;
						a {
							width: 100% !important;
						}
					}}}
				}
				.main_content_3 {
					ul {
						li.content_3_item {
							width: 100% !important;
							.item_image {
								width: 100% !important;
								float: none;
								margin-bottom: 10px;
								a {
									width: 100% !important;
									margin:0;
									img {
										width: 100% !important;
										height: auto;
									}
								}
							}
							.item_info {
								margin: 0;
								.item_sapo {width: 100% !important;}
							}
							img {width: 100% !important;}
						}
						.content_extra {
							li.content_3_trendAd {
								.read_more_and_brands_stuff {
									.read_more {
										width: 100% !important;
										float: none;
										.item.first {
											width: 100% !important;
											float: none;
										}
										.item:not(.first) {
											width: 100% !important;
											margin: 0;
											float: none;
										}
									}
									.marketing_beats {
										width: 100% !important;
										.list_marketing {margin-bottom: 10px;}
									}
								}
							}
						}
						.content_extra_2 {
							.mostview {
								width: 100% !important;
								ul {
									li {
										width: 44%;
										h3 {a {font-size: 14px;}}
									}
								}
							}
							.read_more_and_brands_stuff  .brands {
								width: 100% !important;
								height: auto;
								.other h3 {
									width: auto;
									margin: 0 19px;
								}
							}
						}
						.content_extra_3 {
							.dontmiss {
								ul {
									display: block;
									li {
										width: 100% !important;
										margin-left: 0;
										float: none;
										.dontmiss_img {
											width: 100% !important;
											a {
												width: 100% !important;
												img {height: auto;}
											}
										}
									}
								}
							}
						}
						.content_extra_4 {
							li {
								.eMag-home_genk {
									.swiper_container {
										.swiper_wrapper {
											padding: 0;
											.swiper_slide {
												width: 100% !important;
												padding: 0 10px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.ads {display: none;}
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	#body {
		.news_content {
			.main_content {
				width: 100% !important;
				.main_content_1,.main_content_2,.main_content_3 {
					width: 100% !important;
				}
				.main_content_1 {
					.main_content_1_big {
						width: 100% !important;
						div {a {
								img {
									width: 100% !important;
									height: auto;
								}}
						}
					}
					.main_content_1_small {
						width: 100% !important;
					}
				}
				.main_content_2 {
					div {ul {li {
						width: 100% !important;
						margin-right: 0;
						a {
							width: 100% !important;
						}
					}}}
				}
				.main_content_3 {
					ul {
						li.content_3_item {
							width: 100% !important;
							.item_image {
								width: 100% !important;
								float: none;
								margin-bottom: 10px;
								a {
									width: 100% !important;
									margin:0;
									img {
										width: 100% !important;
										height: auto;
									}
								}
							}
							.item_info {
								margin: 0;
								.item_sapo {width: 100% !important;}
							}
							img {width: 100% !important;}
						}
						.content_extra {
							li.content_3_trendAd {
								.read_more_and_brands_stuff {
									.read_more {
										width: 100% !important;
										float: none;
										.item.first {
											width: 100% !important;
											float: none;
										}
										.item:not(.first) {
											width: 100% !important;
											margin: 0;
											float: none;
										}
									}
									.marketing_beats {
										width: 100% !important;
										.list_marketing {margin-bottom: 10px;}
									}
								}
							}
						}
						.content_extra_2 {
							.mostview {
								width: 100% !important;
								ul {
									li {
										width: 44%;
										h3 {a {font-size: 14px;}}
									}
								}
							}
							.read_more_and_brands_stuff  .brands {
								width: 100% !important;
								height: auto;
								.other h3 {
									width: auto;
									margin: 0 19px;
								}
							}
						}
						.content_extra_3 {
							.dontmiss {
								ul {
									display: block;
									li {
										width: 100% !important;
										margin-left: 0;
										float: none;
										.dontmiss_img {
											width: 100% !important;
											a {
												width: 100% !important;
												img {height: auto;}
											}
										}
									}
								}
							}
						}
						.content_extra_4 {
							li {
								.eMag-home_genk {
									.swiper_container {
										.swiper_wrapper {
											padding: 0;
											.swiper_slide {
												width: 100% !important;
												padding: 0 10px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.ads {display: none;}
		}
	}
}
@media only screen and (min-width: 481px) and (max-width: 767px){}
@media only screen and (min-width: 1024px) and (max-width: 1200px){}