#footer {
	width: 100%;
	background: #191919;
	.top_footer {
	    border-bottom: 1px solid #45BD33;
	    .gfw_top_wrapper {
		    padding: 25px 0;
		    border-bottom: 1px solid #333;
		    display: flex;
		    a {
				background-position: 0 0;
			    width: 164px;
			    height: 23px;
			    display: block;
			    float: left;
			    background-size: 210%;
			    margin-top: 10px;
                img {width: 100%}
		    }
		}
		.gfw_bottom_wrapper {
			display: flex;
			ul {
				list-style-type: none;
				li {
					float: left;
    				margin-right: 40px;
    				a {
    					color: #fff;
					    font-size: 13px;
					    line-height: 18px;
					    font-family: Roboto-Medium;
					    text-decoration: none;
					    text-transform: uppercase;
					    line-height: 60px;
    				}
    				a:hover {
					    color: #ED2E2E;
					}
				}
			}
		}
	}
	.bottom_footer {
		padding: 35px 0;
        display: flex;
		.gfwbf_left {
			width: 515px;
		    float: left;
		    margin-right: 80px;
		}
		.gfwbf_right {
			width: 375px;
		    margin-left: 595px;
		    img {
		        margin: 10px;
                margin-left: 0;
		    }
		    h4 {
			    font-family: Roboto-Medium;
			    font-size: 24px;
			    text-transform: uppercase;
			    color: #fff;
			    margin-bottom: 12px;
		    }
		    span {
				background-position: -92px -122px;
			    width: 65px;
			    height: 15px;
			    display: block;
			    margin-bottom: 10px;
		    }
		}
		p {
			font-family: Arial;
		    font-size: 12px;
		    line-height: 18px;
		    color: #999;
		    margin-bottom: 20px;
		    a {
			    text-decoration: none;
			    color: #ed2e2e;
		    }
		}
	}
}
